<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.papan.share" android:versionCode="3" android:versionName="0.2.0">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.any" android:required="false" />
  <application android:label="Papan" android:icon="@drawable/icon" android:theme="@style/PapanTheme" android:allowBackup="false" android:usesCleartextTraffic="true" android:supportsRtl="true">
    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize">
      <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
      <intent-filter><action android:name="android.intent.action.SEND" /><category android:name="android.intent.category.DEFAULT" /><data android:mimeType="text/plain" /></intent-filter>
      <intent-filter><action android:name="android.intent.action.VIEW" /><category android:name="android.intent.category.DEFAULT" /><category android:name="android.intent.category.BROWSABLE" /><data android:scheme="papan-pair" android:host="connect" /></intent-filter>
    </activity>
    <activity android:name=".ScanActivity" android:exported="false" />
    <service android:name=".DeliveryJob" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
  </application>
</manifest>
